###################
# Build artifacts #
###################
[Bb]in/
[Oo]bj/
**/[Bb]in/
**/[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

#########################
# Visual Studio / VSCode#
#########################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/
*.VC.db
*.VC.VC.opendb

###################
# ASP.NET / Publish
###################
App_Data/
*.Publish.xml
*.pubxml
*.publishproj

###########
# NuGet    #
###########
packages/
.nuget/
NuGet.exe
*.nupkg
*.snupkg
*.nuspec
*.dll.config

#########################
# .NET SDK / Core files #
#########################
artifacts/
project.lock.json
project.fragment.lock.json
*.deps.json
*.runtimeconfig.json
*.runtimeconfig.dev.json
*.global.json

######################
# Logs / Databases   #
######################
*.log
*.sql
*.sqlite
*.db
*.mdf
*.ldf

########################
# Tests / Coverage     #
########################
TestResult*/
TestResults/
*.coverage
*.coveragexml
*.ncrunchsolution
*.dotCover

########################
# Tools / IDEs extras  #
########################
/_ReSharper*/
*.ReSharper
*.DotSettings.user
.idea/
*.[Cc]ache
_[Ss]cripts

#####################
# OS junk files     #
#####################
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

########################
# Archives / binaries  #
########################
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.pdb
*.cache